features/*
scenarios/*
data/glint360k/all_id_files.json
data/MS-Celeb-1M/all_id_files.json
data/VGGFace2/all_id_files.json
extra/*
models/model.onnx
results/*
notebooks/test.ipynb
notebooks/ttest.ipynb
notebooks/ttest_copy.ipynb
notebooks/tttest.ipynb
notebooks/main_notebook.ipynb
